.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice-container {
    background-color: rgb(205, 229, 255); /* Couleur de fond royalblue */
    padding: 20px; /* Ajout de padding pour un espacement interne */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre */
    text-align: center; /* Centrage du contenu */
  }
  
  .btn-primary,
  .btn-secondary {
    width: 150px; /* Largeur fixe pour les boutons */
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    margin: 10px; /* Espacement entre les boutons */
    background-color: rgb(144, 150, 171); /* Couleur de fond royalblue */
    color: white; /* Couleur du texte */
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #004080; /* Couleur de fond sombre au survol */
    border-color: #004080; /* Bordure sombre au survol */
  }
  
  .btn-secondary:hover,
  .btn-secondary:focus {
    background-color: #8ea4ba; /* Couleur de fond sombre au survol */
    border-color: #5f6d7b; /* Bordure sombre au survol */
  }
  