<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <span *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="error-message">L'email est requis.</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched" class="error-message">L'email n'est pas valide.</span>
      </div>
  
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <span *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" class="error-message">Le mot de passe est requis.</span>
        <span *ngIf="loginForm.get('password')?.errors?.['minLength'] && loginForm.get('password')?.touched" class="error-message">Le mot de passe doit contenir au moins 6 caractères.</span>
      </div>
  
      <button type="submit" class="btn btn-primary">Connexion</button>
      <button type="button" (click)="toggleScanner()">Utiliser Code QR</button>
      <div *ngIf="showScanner">
        <zxing-scanner (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
      </div>
    </form>
  </div>
  